/* Navbar styles */
.navbar {
  background-color: #7ebdfc;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Changed to full width */
  height: auto; /* Adjust height */
  display: flex; /* Use flexbox for horizontal layout */
  justify-content: center; /* Space out items */
  align-items: center; /* Center items vertically */
  overflow-x: auto; /* Allow horizontal scrolling if needed */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  margin: 0 1rem; /* Adjust margin for horizontal spacing */
  color: #000;
}

.nav-link:hover {
  color: #007bff;
}

/* Ensure content does not hide behind the fixed Navbar */
.pages {
  margin-top: 4rem; /* Adjust based on the height of the Navbar */
  padding-top: 1rem;
}

.workouts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  justify-content: center;
}
.workoutdetails {
  border-radius: 4px;
  background: #9f6b6b;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  position: relative;
  border: 2px solid #007bff; /* Added border to create a box */
}
.workoutdetails p{
  margin: 0;
  font-size:0.9rem;
  color: #fbfbfb;

}
.workoutdetails h2{
  margin: 0;
  font-size:1.5rem;

}

/* Form styles */
  
.form-container {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.form-title {
  font-size: 1.25rem;
  margin-bottom: 16px;
}

.form-label {
  display: block;
  color: #4a5568;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
}

.form-button {
  background-color: #4299e1;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #2b6cb0;
}

.form-error {
  color: #e53e3e;
  font-size: 0.875rem;
  margin-top: 16px;
}

